@model ShoppingCartViewModel

@if (Model.shoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.shoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}
